{
  "optType": 1,
  "platformId": 1,
  "userId": <int>,
  "socialId": <int>,
  "gigyaId": "<int>",
  "fullName": "<string>",
  "countryCode": "<string>",
  "favTeamId": null,
  "accessToken": "<string>",
  "profilePic": "https://gaming.uefa.com/assets/avatars/cap-white_{size}{ratio}.png",
  "level": "5",
  "levelName": "Apprentice"
}